* {
  box-sizing: border-box;
  justify-content: center;
  /* padding-top: 15px; */
}

.SignUp-page__div {
  width: 32%;
  text-align: center;
  /* border: 1px solid #ccc; */
  padding: 144px 32px;
  margin: -16px 428px;
  /* background-color: #ccc; */
  height: 620px;
}

label {
    font-size: 15px;
}

.SignUp-page__label {
  font-family: Raleway-SemiBold;
  text-transform: uppercase;
}

.SignUp-page__input {
  border: 1px solid #ccc;
  align: center;
  margin: 8px 4px;
  width: 97%;
  padding: 14px 94px;
  border-radius: 4px;
  display: block;
}

.SignUp-page__button {
  background-color: #ee6e73;
  font-family: Raleway-SemiBold;
  border: none;
  color: white;
  width: 46%;
  padding: 14px 22px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
}

@media only screen and (max-width: 768px) {
    .SignUp-page__div {
      width: 50%;
    }
}

@media only screen and (max-width: 425px) {
    .SignUp-page__div {
      width: 90%;
    }
}
